
body {
    font-family: serial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color:green;
}

h1, h2, h3, h4 {
    color:blue;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
}

h4 {
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
    color:red;
}

/* Liens */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listes */
ul, ol {
    margin: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* ID spécifiques */
#edition-du-site, #hebergement, #confidentialite, #cookies {
    border-bottom: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}