
body {
    font-family: serial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h2 {
    color:green;
}

h4{
    color:rgb(193, 102, 102);
}

CSS pate a crepes

body{
        margin: 30px;   
        PADDING:40px;   
        font-size:  1,5rem;
        font-family:'Times New Roman', Times, sans-serif;
  
}

div{
        background-color:rgb(215, 214, 214);
}