body{
        margin: 3px;   
        PADDING:20px;   
        font-size: 1,5rem;
        font-family:'Times New Roman', Times, sans-serif;
  
}

div{
        background-color: rgb(213, 211, 211);


}
h1{
        color: blue;
}