<<<<<<< HEAD
</html><!doctype html>
<html lang="fr">
</html>
        <meta charset="UTF-8">
<head>
<P>
<title>Pate a crepe</title>
</head>
<P>
<body>
<title>Pâte à crêpe facile : la recette</title>
<h1>Pâte à crêpes facile : la recette</h1>
</br>
Comptez une dizaine de minutes pour la préparation de la pâte à crêpes, et 1h de repos
(nul besoin de la faire reposer plus longtemps).
</br>
Niveau ingrédients, la pâte à crêpes n’est pas très exigante :
<ul>
<li> 125 g de farine de froment</li>
<li> 4 œufs</li>  
<li> 25 cl de lait entier</li>  
<li> 1 pincée de sel</li>  
<li> 1 sachet de sucre vanillé</li>  
<li> 1 c. À soupe de rhum ou d’eau de fleur d’oranger (pour parfumer la pâte)</li>  
</ul>
La recette de la pâte à crêpes  
<ol>
<li>Mélangez la farine, le sel et le sucre dans un grand bol. Faites un puits au milieu.</li>  
<li>Fouettez les œufs et la moitié du lait et verser le mélange dans le puits.</li>    
Mélangez en incorporant petit à petit la farine.  
<li>Ajoutez le reste de lait et le rhum ou l’eau de fleur d’oranger.</li>    
Laisser reposer 1h.  
</body>
</p>
=======
body{
        margin: 30px;   
        PADDING:40px;   
        font-size:  1,5rem;
        font-family:'Times New Roman', Times, sans-serif;
  
}

div{
        background-color:rgb(215, 214, 214);
}

>>>>>>> td2
